# Keil build artifacts
*.o
*.d
*.axf
*.hex
*.htm
*.lnp
*.dep
*.map
build.log
Objects/
JLinkLog.txt
JLinkSettings.ini
*.uvguix.*
*.uvoptx

# SysConfig generated (root level)
device_linker.cmd
device_linker.lds
device.opt
device.cmd.genlibs
device.lds.genlibs

# Tools
__pycache__/
*.pyc

# IDE
.vscode/
.idea/
